



/* body{
    /* background-image: url(imagesufh.jpeg); */
    /* background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 0%);
}
.main{
    display: flex;
}

.names{
    padding: 10px;
} */
/* 

button{
    height: 38px;
    width: 120px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 18px;
}

ul > li{
margin: 50px;
margin-left: 500px;
 list-style-type: none;  */


/* } */ 